*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family:'objectiv';
    src: url(../fonts/ObjektivMk1_Trial_Rg.woff);
}
@font-face{
    font-family: 'sovmod';
    src: url(../fonts/SovMod.woff);
}

body{
    background: url(../img/restoran\ 1fon.jpeg);
    background-repeat: no-repeat;
    overflow-x: hidden;
}



.header_top{
    margin-top: 45px;
    margin-left: 57px;
    display: flex;
    width: 1806px;
    height: 95px;
} 

.logo{
    position: absolute;
    width: 169px;
    height: 95px;
    left: 882px;
    top: 47px;
}

.txt{
    margin-left: auto;
    color: #fff;
    margin-top: 24px;
    font-size: 16px;
    font-family: 'sovmod';
}

.tel{
    margin-left: auto;
    text-decoration: none;
    color: #fff;
    margin-left: 47px;
    font-size: 16px;
    font-family: 'sovmod';
}

.header_bottom{
    width: 862px;
    height: 128px;
    margin: 0px 529px 0px 529px;
    position: absolute;
    bottom: 45px;
}

.gradient{
    margin-top: 320px;
    z-index: -5;
}

/* кнопки */

.button_0{
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    font-family: 'sovmod';
    color: #fff;
    padding: 19.5px 35.8px;
    border: 1px solid #fff;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
}

.button_0:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    transition: .5s;
}

.button_1{
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    font-family: 'sovmod';
    color: #fff;
    padding: 19.5px 39.6px;
    border: 1px solid #fff;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 251px;
}

.button_1:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    transition: .5s;
}

.button_2{
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    font-family: 'sovmod';
    color: #fff;
    padding: 19.5px 59.8px;
    border: 1px solid #fff;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 662px;
}

.button_2:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    transition: .5s;
}

.time{
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-family: 'sovmod';
    bottom: 0px;
    left: 340px;
    text-align: center;
    margin-left: 0 auto;
}

/* menu */


#sidebar{
    position: fixed;
    width: 360px;
    height: 100%;
    background-color: #000;
    top: 0px;
    left: -360px;
    transition: .5s;
    z-index: 999;
}

#sidebar.active{
    left: 0px;
}

#sidebar ul li:first-child{
    list-style: none;
    padding: 31px 131px 60px 60px;
}

#sidebar ul li:not(:first-child) {
    font-family: sovmod;
    font-size: 20px;
    padding: 0px 163px 30px 70px;
}

#sidebar ul li a{
    text-decoration: none;
    color: #fff;
} 

#sidebar ul li a:hover{
    color: #9e9e9e;
    transition: .3s;
}

#sidebar .menu-close{
    position: absolute;
    left: 313px;
    top: 21px;
    cursor: pointer;
}

.menu-open{
    position: absolute;
    top: 87px;
    left: 57px;
    cursor: pointer;
    z-index: 0;
}

.table-position{
    position: absolute;
    padding: 0px 40px;
}

.table-menu{
    position: fixed;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'sovmod';
    padding: 19.5px 27.5px;
    border: 1px solid #fff;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0);
    bottom: 116px;
}

.table-menu:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    transition: .5s;
}

.info-sidebar{
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.info-blok{
    display: flex;
}

.infa{
    font-size: 12px;
    color: #393939;
    font-family: 'objectiv';
    font-weight: 500;
}

.infa-1{
    font-size: 12px;
    color: #fff;
    font-family: 'objectiv';
    font-weight: 400;
    text-decoration: none;
}

.telega-and-vk{
    display: flex;
    position: absolute;
    left: 40px;
    bottom: 191px;
}

.vk{
    position: absolute;
    left: 44px;
}

#bodye{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -99;
    transition: .5s;
}

#bodye.body-go{
    z-index: 10;
    background-color: rgba(0,0,0,0.6);
    transition: .5s;
}

.content{
    position: absolute;
    background-color: #000;
    width: 300%;
    height: 300%;
}

.photo{
    position: absolute;
    padding: 503px 33px;
}

.line-1{
    display: flex;
}

.photo-line-1-top-2{
    position: absolute;
    left: 906px;
}

.photo-line-1-top{
    position: absolute;
    left: 1352px;
}

.line-2{
    display: flex;
    padding: 69px 0px;
}

.photo-line-2-dish-2{
    padding: 0px 87px 0px 87px;
}

.line-3{
    display: flex;
}

.photo-line-3-dish-4{
    padding: 0px 80px;
}

.footer{
    position: absolute;
    width: 100%;
    height: 140px;
    top: 3580px;
}

.footer-logo{
    position: absolute;
    cursor: pointer;
    left: 386px;
}

.telegram-vk{
    position: absolute;
    display: flex;
    left: 390px;
    top: 113px;
}

.vk{
    position: absolute;
    padding: 0px 10px;
    cursor: pointer;
}

.telegram{
    cursor: pointer;
}

.footer-info{
    position: absolute;
    left: 810px;
    top: 40px;
}

.header-in-footer a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-family: 'objectiv';
    font-weight: 540;
}

.header-in-footer a:hover {
    color: #9e9e9e;
    transition: .3s;
}


.footer-name-menu{
    padding: 0px 220px;
}

.footer-name-info{
    color: #393939;
    font-size: 16px;
    font-family: 'objectiv';
    font-weight: 500;
    display: flex;
    padding: 38px 0px 0px 0px;
}

.footer-name-number-tel{
    padding: 0px 0px 0px 235px;
}

.footer-name-time{
    padding: 0px 0px 0px 104px;
}

.footer-content-info{
    display: flex;
    padding: 6px 0px;
}

.footer-content-info a{
    text-decoration: none;
    color: #fff;
    font-style: 16px;
    font-family: 'objectiv';
    font-weight: 400;
}

.footer-content-info p{
    color: #fff;
    font-style: 16px;
    font-family: 'objectiv';
    font-weight: 400;
}

.footer-number-tel{
    padding: 0px 0px 0px 90px;
}

.footer-time{
    padding: 0px 0px 0px 90px;
}